<% if user_signed_in? %>
  <h2>You're logged in!</h2>
<% else %>
  <div class="hero-unit">
    <h1>Welcome to Pinboard!</h1>
    <p>
        Pin items of visual inspiration and save that brain space.
    </p>
    <p>  
        <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
    </p>
  </div>
<% end %>



